@model ContabilidadHogar.Models.MoneyControl

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MoneyControl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BalanceTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BalanceTransaction)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTransaction" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
